<div class="banner">
  <img src="/images/vehicles/wrangler.jpg" alt="CSE Motors banner">
  <div class="overlay">
    <h1>CSE Motors</h1>
    <p>Driven by quality. Guided by service.</p>
    <a class="btn btn--primary" href="#featured-heading">Browse Inventory</a>
  </div>
</div>
