<nav class="site-nav" aria-label="Primary">
  <ul class="container nav__list">
    <li><a href="/">Home</a></li>
    <li><a id="inventory" href="#">Inventory</a></li>
    <li><a href="#">Financing</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
