<!doctype html>
<html lang="en">
  <%- include("../partials/head", { title }) %>
  <body>
    <%- include("../partials/header") %>
    <main id="main" class="site-main">
      <div class="container">
        <%- detailHTML %>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
